# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
Data/copernicus/mercatorglorys12v1_gl12_mean_202106.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_202105.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_202012.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_202011.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_202010.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_202009.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_202008.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_202007.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_202006.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_202005.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201912.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201911.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201910.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201909.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201908.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201907.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201906.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201905.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201812.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201811.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201810.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201809.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201808.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201807.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201806.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201805.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201712.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201711.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201710.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201709.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201708.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201707.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201706.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201705.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201612.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201611.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201610.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201609.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201608.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201607.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201606.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201605.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201512.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201511.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201510.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201509.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201508.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201507.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201506.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201505.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201412.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201411.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201410.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201409.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201408.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201407.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201406.nc
Data/copernicus/mercatorglorys12v1_gl12_mean_201405.nc
Data/copernicus/global_climatology.tif
Data/copernicus/climatology.tif
Data/bio-oracle/d92ef3bb2e8dcf4c0107694828a8b8d9.nc
Data/bio-oracle/9ccbf44cfa1cfa11b14422754556114e.nc
Data/bio-oracle/7cfe1c2747ed7b06871de445e517af14.nc
Data/bio-oracle/32808432bb3a1d7e3b473b9fdffa7d33.nc
SDMs_workshop_RS.pptx
SDMs_workshop.pptx
*.tif
*.out
*.glauca_PA1_RUN5_RF
*.glauca_PA1_RUN5_GLM
*.glauca_PA1_RUN5_GAM
*.tif
*.nc
*.rds
*.lines
*.predictions
*.importance
*.evaluation
*.data
*.prediction
*.glauca_PA1_RUN5_GAM
*.nc
*.pptx
